:root {
    --fondo-sombras: #FFFFFF;
    --footer: #2F3645;
    --azul-transparente: #2f3645b3;
    --azul-transparente2: #767a81de;
    --sombra-gris: #808080;
    --sombra-negra: #000000;
    --tipografia: "Raleway", sans-serif;
}



body {
    font-family: var(--tipografia);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 70%;
    align-items: center;
    position: fixed;
    width: 100%;
}

a {
    font-size: 25PX;
    text-decoration: none;
    color: var(--fondo-sombras);
    text-transform: uppercase;
}

ul {
    display: flex;
    justify-content: end;
    gap: 30px;
    list-style: none;
}

.link {
    text-shadow: 2px 2px var(--sombra-negra);
    display: block;
    transform-origin: center;
}

.link:hover{
    animation-name: fondo;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--fondo-sombras);
    font-size: 4rem;
    font-weight: 500;
    text-shadow: 5px 5px var(--sombra-negra);
    text-transform: uppercase;
}


main {
    background-color: var(--fondo-sombras);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    background-color: var(--footer);
    color: var(--fondo-sombras);
    text-align: center;
}

.logo {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
}

.logo_img {
    height: 75%;
    width: 30%;
}

.autor {
    margin-right: 100px;
}

@keyframes fondo {
    from {
        transform: translateY(0) translateX(0);  
    }

    to {
        transform: translateY(3px) translateX(3px);
        text-shadow: none;
    }
}