:root {
    --fondo-sombras: #FFFFFF;
    --sombra-negra2: #2F3645;
    --azul-transparente: #2f3645b3;
    --azul-transparente2: #767a81de;
    --sombra-gris: #808080;
    --sombra-negra: #000000;
    --tipografia: "Raleway", sans-serif;
}



body {
    font-family: var(--tipografia);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 70%;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 12%;
    background-color: transparent;
    transition: background-color 1s ease ;
    z-index: 3;
}

a {
    font-size: 25px;
    text-decoration: none;
    color: var(--fondo-sombras);
    text-transform: uppercase;
}

svg {
    left: 70px;
    top: 3px;
    width: 100px;
    height: 108px;
    position: fixed;
    z-index: 3;
}

rect { 
    animation-name: encendido;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0%;
    width: 80px;
    height: 60px;
    fill: gray;
    stroke: black;
    stroke-width: 2px;
}

.pantalla {
    width: 70px;
    height:50px;
    fill: black;
}

.linea {
    width: 60px;
    height: 5px;
    fill: green;
}

.linea_2 {
    width: 55px;
    height: 5px;
    fill: green;
}

.linea_3 {
    width: 45px;
    height: 5px;
    fill: green;
}

.linea_4 {
    width: 30px;
    height: 5px;
    fill: green;
}

.base {
    width: 20px;
    height: 20px;
    fill: gray;
}

.base_teclado {
    width: 70px;
    height: 50px;
    stroke: gray;
    fill: gray;
    transform: rotateX(45deg);
}

.fondo_teclas {
    width: 60px;
    height: 25px;
    fill: black;
    transform: rotateX(45deg);
}

.tecla {
    width: 5px;
    height: 5px;
    fill: red;
    transform: rotateX(60deg);
}

ul {
    display: flex;
    justify-content: end;
    gap: 30px;
    list-style: none;
}

.link {
    text-shadow: 2px 2px var(--sombra-negra);
    display: block;
    transform-origin: center;
}

.link:hover{
    animation-name: fondo;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.linkColor {
    transition: color 1s ease ;
    color: var(--sombra-negra);
    text-shadow: 1px 1px var(--fondo-sombras), 2px 2px var(--azul-transparente2);
}

.navScroll {
    background-color: var(--fondo-sombras);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--fondo-sombras);
    font-size: 4rem;
    font-weight: 500;
    text-shadow: 5px 5px var(--sombra-negra);
    text-transform: uppercase;
}


main {
    background-color: var(--fondo-sombras);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    background-color: var(--sombra-negra2);
    color: var(--fondo-sombras);
    text-align: center;
}

.logo {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
}

.logo_img {
    height: 75%;
    width: 30%;
}

.autor {
    margin-right: 100px;
}

@keyframes encendido {
    from {

    }

    to {
        opacity: 100%;
    }
}

@keyframes fondo {
    from {
        transform: translateY(0) translateX(0);  
    }

    to {
        transform: translateY(3px) translateX(3px);
        text-shadow: none;
    }
}