body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 70%;
    align-items: center;
}

a {
    font-size: 25PX;
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
}

ul {
    display: flex;
    justify-content: end;
    gap: 30px;
    list-style: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 4rem;
    font-family: "Raleway", sans-serif;
}


main {
    background-color: white;
}

footer {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    background-color: #2f3645;
    color: white;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.logo_img {
    height: 70%;
    width: 25%;
}

.autor {
    margin-right: 100px;
}