body {
    background-image: url(../assets/imagenes/historia-programacion.jpg);
}

nav {
    background-color: rgba(37, 38, 52, 0.44);
}

header {
    height: 63vh;
    background-color: rgba(37, 38, 52, 0.44);
}

main {
    display: flex;
    flex-direction: column;
}

.padre {
    display: flex;
    padding: 80px;
}

.padre2 {
    display: flex;
    padding: 80px;
    flex-direction: row-reverse;
}

#historia_img {
    height: 700px;
    width: 900px;
}

#hijo_p {
    margin-left: 0;
    margin-right: 10px;
}

#historia_img2 {
    height: 600px;
    width: 800px;
}

.historia {
    height: 500px;
    width: 800px;
}

.hijo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

p {
    text-align: left;
    margin-left: 100px;
}

h2 {
    text-align: center;
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Raleway", sans-serif;
}

video {
    align-self: center;
    width: 1400px;
}

.reproducion {
    background-color: #2f3645;
    align-self: center;
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 1400px;
    margin-bottom: 100px;
    align-items: center;
}

.boton {
    height: 40px;
    width: 80px;
    margin: 10px;
}

img {
    height: 20px;
    width: 40px;
}