body {
    background-image: url(../assets/imagenes/historia-programacion.jpg);
}

header {
    height: 70vh;
    background-color: var(--azul-transparente);
}

main {
    display: flex;
    flex-direction: column;
}

.padre {
    display: flex;
    padding: 80px;
    perspective: 800px;
}

.historia {
    height: 500px;
    width: 800px;
    opacity: 0%;
}

.img1 {
    animation-name: historiaProgramacionImagen;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

.hijo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: 0%;
}

.hijo_puerta {
    animation-name: historiaProgramacionParrafo;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
    transform-origin: right center;
}

.titulo_historia {
    font-weight: 500;
    text-shadow: 2px 2px var(--fondo-sombras), 3px 3px var(--azul-transparente2);
}

p {
    text-align: left;
    margin-left: 100px;
}

#padre2 {
    flex-direction: row-reverse;
}

#historia_img2 {
    height: 700px;
    width: 900px;
    opacity: 0%;
}

.img2 {
    animation-name: ensambleImagen;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

.hijo_puerta2 {
    animation-name: ensambleParrafo;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
    transform-origin: left center;
}

#hijo_p {
    margin-left: 0;
    margin-right: 10px;
}

#historia_img3 {
    height: 600px;
    width: 800px;
    opacity: 0%;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

video {
    align-self: center;
    width: 1400px;
}

.reproducion {
    background-color: var(--sombra-negra2);
    align-self: center;
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 1400px;
    margin-bottom: 100px;
    align-items: center;
}

.boton {
    height: 40px;
    width: 80px;
    margin: 10px;
    box-shadow: 1.5px 1.5px var(--fondo-sombras), 3px 3px var(--azul-transparente2);
}

.boton:active {
    transform: translateX(3px) translateY(3px);
    box-shadow: none;
}

.botones_img {
    height: 20px;
    width: 40px;
}

@keyframes historiaProgramacionImagen {
    from {
        transform: translateX(-1000px) translateY(300px) scale(200%);
    }    

    to {
        transform: translateX(0px) translateY(0px) scale(100%);
        opacity: 100%;
    }
}

@keyframes historiaProgramacionParrafo {
    from {
        transform: translateX(400px) translateY(-200px) translateZ(-300px) rotateY(-120deg) scale(10%);
    }

    to {
        transform: translateX(0px) translateY(0px) translateZ(0px) rotateY(0deg) scale(100%);
        opacity: 100%;
    }
}

@keyframes ensambleImagen {
    from {
        transform: translateX(1000px) translateY(300px) scale(200%);
    }    

    to {
        transform: translateX(0px) translateY(0px) scale(100%);
        opacity: 100%;
    }
}

@keyframes ensambleParrafo {
    from {
        transform: translateX(-400px) translateY(-200px) translateZ(-300px) rotateY(120deg) scale(10%);
    }

    to {
        transform: translateX(0px) translateY(0px) translateZ(0px) rotateY(0deg) scale(100%);
        opacity: 100%;
    }
}