body {
    background-image: url(../assets/imagenes/img2.jpg);
}

header {
    height: 70vh;
    background-color: var(--azul-transparente);
}


h2 {
    text-shadow: 2px 2px var(--fondo-sombras), 3px 3px var(--azul-transparente2);
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    padding: 100px;
    margin: 0;
}

section {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    height: 350px;
    width: 200px;
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.zona {
    height: 350px;
    width: 200px;
    background-color: var(--sombra-gris);
    display: flex;
    text-align: center;
    align-items: center;
    border: 3px solid var(--sombra-negra);
}

.zona:hover {
    background-color: var(--sombra-negra);
}

#izquierda {
    padding-right: 20px;
    transform: rotate(0.02turn);
}

#centro {
    transform: rotate(0.26turn);
}

#derecha {
    padding-left: 20px;
    transform: rotate(0.98turn);
}

p {
    color: white;
}

.animacion_cuadro {
    animation-name: cuadro;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

.animacion_resuelta {
    animation-name: puzzle;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

.reiniciar {
    position: relative;
    top: 100px;
}


.boton {
    padding: 10px;
    font-size: 25px;
    font-family: var(--tipografia);
    color: var(--fondo-sombras);
    background-color: var(--sombra-negra2);
    padding-inline: 110px;

}

@keyframes cuadro {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(150%);
        gap: 0px;
    }

    100% {
        transform: scale(100%);
        gap: 0px;
    }
}

@keyframes puzzle {
    0% {
        transform: scale(50%);
    }

    50% {
        transform: scale(150%) translateY(150px);
    }

    100% {
        transform: scale(100%) translateY(200px);
    }
}