body {
    background-image: url(../assets/imagenes/img2.jpg);
}

header {
    height: 63vh;
    background-color: var(--azul-transparente);
}


h2 {
    text-shadow: 2px 2px var(--fondo-sombras), 3px 3px var(--azul-transparente2);
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    padding: 100px;
    margin: 0;
}

img {
    height: 350px;
    width: 200px;
}

div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.zona {
    height: 350px;
    width: 200px;
    background-color: var(--sombra-gris);
    display: flex;
    text-align: center;
    align-items: center;
}

.izquierda {
    padding-right: 20px;
    transform: rotate(0.02turn);
}

.centro {
    transform: rotate(0.26turn);
}

.derecha {
    padding-left: 20px;
    transform: rotate(0.98turn);
}

p {
    color: white;
}