body {
    background-image: url(../assets/imagenes/fondo.jpg);
}

header {
    height: 91vh;
}

main {
    text-align: center;
    height: 100vh;
}

h2 {
    font-weight: 500;
    font-size: 3rem;
    padding: 80px;
    text-shadow: 2px 2px var(--fondo-sombras), 3px 3px var(--azul-transparente2);
    text-transform: uppercase;
}


section {
    display: flex;
    justify-content: space-around;
}

div {
    text-align: center;
}

.contenido {
    flex-direction: column;
    
}

img {
    height: 300px;
    width: 450px;
}

p {
    padding: 20px;
}

.boton { 
    padding: 15px;
    font-size: 15px;
    background-color: var(--footer);
    padding-inline: 130px;
}