body {
    background-image: url(../assets/imagenes/fondo.jpg);
}

header {
    height: 96vh;
}

main {
    text-align: center;
    height: 100vh;
}

h2 {
    font-weight: 500;
    font-size: 3rem;
    padding: 80px;
    text-shadow: 2px 2px var(--fondo-sombras), 3px 3px var(--azul-transparente2);
    text-transform: uppercase;
}


section {
    display: flex;
    justify-content: space-evenly;
}

div {
    text-align: center;
}

.contenido {
    flex-direction: column;
    opacity: 0%;
}

.historia {
    animation-name: izquierda;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    animation-fill-mode: forwards;
}

.juego {
    animation-name: derecha;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
}

img {
    height: 300px;
    width: 450px;
}

p {
    padding: 20px;
}

.boton { 
    padding: 15px;
    font-size: 15px;
    background-color: var(--sombra-negra2);
    padding-inline: 130px;
}

@keyframes izquierda {
    from {
        transform: translateX(-330px);
    }

    to {
        transform: translateX(0px);
        opacity: 100%;
    }
}

@keyframes derecha {
    from {
        transform: translateX(330px);
    }

    to {
        transform: translateX(0px);
        opacity: 100%;
    }
}